# IntelliJ IDEA project settings
*.iml
.idea/
out/
*.ipr
*.iws

# test file
*.epub
downloadfiles/

# OS autogen
.DS_Store
Thumb.db
tmp/

# Eclipse project files
.project
.classpath
.settings/

# Temp file
*.bak
*.tmp
*.temp
*.vpp~*
*.*~
~*.*

