<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>小小骷髅也疯狂</string>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>7252A947711BCB52F8AEB1CC732979DD</string>
		<key>publisher-unique-id</key>
		<string>150743</string>
		<key>unique-id</key>
		<integer>-2409581375766071358</integer>
	</dict>
	<key>genre</key>
	<string>玄幻·奇幻</string>
	<key>itemName</key>
	<string>小小骷髅也疯狂</string>
	<key>playlistName</key>
	<string>小小骷髅也疯狂</string>
	<key>releaseDate</key>
	<string></string>
</dict>
</plist>
